@charset utf-8;

* {
	font-family:Arial, Helvetica, sans-serif;
}
body {
		background-image: linear-gradient(to right, #79D0F2, #05AFF2);
}

div { 
	background-color: white;
	border-radius: 10%;
	box-shadow: 5px 5px 15px #03658C;
	width: 600px;
	padding:30px;
	margin: auto;
}

h1 {
	text-align: left;
	color: #03658C;
}

h2 {
color: #79D0F2;
}

p {
	text-align: justify;
}